xsd/ressurser.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://nvdb.vegvesen.no/apiskriv/domain/v2" xmlns:tns="http://nvdb.vegvesen.no/apiskriv/domain/v2" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ressurser" type="tns:ressurser"/>

  <xs:complexType name="ressurser">
    <xs:sequence>
      <xs:element name="ressurs" type="tns:ressurs" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ressurs">
    <xs:all/>
    <xs:attribute name="rel" type="xs:string"/>
    <xs:attribute name="src" type="xs:string"/>
  </xs:complexType>
</xs:schema>

